.filter__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #4B506D;
  cursor: pointer;
  
  &:hover {
    color: $accent;
  }
}

.filter__icon {
  height: 12px;
  width: auto;
  margin-right: 8px;
}