.list-header {
  display: flex;
  padding: 12px 32px;
  border-bottom: 1px solid $gray_5;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $gray_1;
}

.list-header__ticket-details {
  display: flex;
  flex: 4 1 350px;
  margin-right: 40px;
}

.list-header__customer {
  display: flex;
  flex: 2 1 150px;
  margin-right: 40px;
}

.list-header__date {
  display: flex;
  flex: 1.5 1 100px;
  margin-right: 40px;
}

.list-header__priority {
  display: flex;
  flex: 1 1 80px;
  margin-right: 64px;
}