.side-bar {
  display: flex;
  width: 255px;
  flex-direction: column;
  background-color: #363740;
}

.side-bar__header {
  padding: 32px;
}

.side-bar__navigation {
  margin-top: 32px;
}

.side-bar__settings {
  margin-top: auto;
}