.all-tickets {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  border: 1px solid $gray_5;
  border-radius: 8px;
}

.all-tickets__header {
  display: flex;
  font-display: row;
  padding: 32px 32px 0 32px;
}

.all-tickets__heading {
  margin-right: auto;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.all-tickets__sort {
  margin-left: 32px;
}

.all-tickets__filter {
  margin-left: 32px;
}

.all-tickets__list-header {
  margin-top: 32px;
}

.all-tickets__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  padding: 0 42px;
}

.all-tickets__rows-per-page {
  display: flex;
}

.all-tickets__rows-per-page-text {
  margin-right: 8px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: $gray_1;
}

.all-tickets__rows-per-page-button {
  display: flex;
  cursor: pointer;
}

.all-tickets__rows-per-page-value {
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #4B506D;
}

.all-tickets__tickets-counter {
  margin-left: 50px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: $gray_1;
}

.all-tickets__nav-arrows {
  margin-left: 32px;
}

.all-tickets__nav-arrow {
  height: 12px;
  width: auto;
  cursor: pointer;
}

.all-tickets__nav-arrow_prev {
  margin-right: 30px;
}